/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.number-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 40px;
}
.display {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.btn {
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background: #0056c0;
}
.gallery-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.gallery-container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.nav-btn {
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: white;
    cursor: pointer;
    transition: 0.2s;
} */
body {
    font-family: Arial;
    background: #f5f2ed;
    padding: 20px;
}

.palette {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.color {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    cursor: pointer;
    transition: 0.2s;
}

.color:hover {
    transform: scale(1.1);
}

.text-box {
    background: #fff0e6;
    border-left: 6px solid #c97b63;
    padding: 15px;
    font-size: 18px;
    width: 700px;
}