body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    background-color: rgb(255, 99, 208);
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 5px, 10px, 10px black;
}